body{
    background-color: darkkhaki;
}
h1{
    color: blue;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(154, 193, 95);
}
p{
    color: darkmagenta;
    text-align: center;
    background-color: goldenrod;
    font-size: larger;
}
h3{
    text-align: center;
    border-style: dotted;
    padding: 2px;
    border-width: 3px;
    border-radius: 3px; 
}
h2{
    background-color: coral;
    text-align: center;
    text-decoration:solid;
    padding: 10px;
    width: 50%;
    border-style: groove;
    margin: auto;


}
