form input,textarea{
    width: 80%;
    padding: 10px;
    margin:10px;
    display:flex;
    margin-left: 162px;
}
button{
    padding: 15px 32px;
    margin:10px;
    display:flex;
    margin-left: 670px;
    background-color: coral;

}